@import "../../styles/variables";

.input {
  padding: $gap_default $gap_big;
  border-radius: $border_radius;
  background-color: $background;
  border: 0;
  outline: 0;
  color: $extra;


  &.error {
    background-color: $alert;
    color: $highlight;

    &::placeholder {
      color: $background;
      opacity: .75;
    }
  }
}