@import "../../styles/variables";

.input {
  padding: $gap_default $gap_big;
  border-radius: $border_radius;
  background-color: $background;
  border: 0;
  outline: 0;
  color: $extra;


  &.error {
    background-color: $alert;
    color: $highlight;

    &::placeholder {
      color: $background;
      opacity: .75;
    }
  }

  &.naked {
    flex-grow: 0;
    padding: 0 $gap_default;
    min-width: 0px;
    width: fit-content;
    background-color: transparent;
    color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid $extra;
    border-radius: 0;
  }
}