@import "../../styles/variables";

.filters {
  display: flex;
  gap: $gap_default;
  flex-wrap: wrap;
}

.gameList {
  display: flex;
  flex-direction: column;
  gap: $gap_default;
  margin-top: $gap_default;
}