// colors
$_c_black: #000;
$_c_white: #FFF;
$_c_green_1: #55de64;
$_c_green_2: #50d25c;
$_c_green_3: #052812;
$_c_blue_1: #03b592;
$_c_brown_1: #513a3c;

$_p_0_1: #001524;
$_p_0_2: #445d48;
$_p_0_3: #d6cc99;
$_p_0_4: #fde5d4;
$_p_0_5: #BC4749;
$_p_0_6: #6ea0f7;

$background: $_p_0_1;
$main: $_p_0_2;
$highlight: $_p_0_3;
$extra: $_p_0_4;
$alert: $_p_0_5;
$link: $_p_0_6;
$granted: $_c_green_2;


$gap_big: 1rem;
$gap_default: .5rem;
$gap_small: .25rem;

$border_radius: .5rem;
$border_radius_large: 1rem;

$mobile: 800px;

$text_shadow_all: 2px 2px 0 $background,
  -2px -2px 0 $background,
  2px -2px 0 $background,
  -2px 2px 0 $background,
  -2px 0 0 $background,
  2px 0 0 $background,
  0 -2px 0 $background,
  0 2px 0 $background;