@import "../../../styles/variables";

.banner {
  margin-top: $gap_default;
  position: relative;
  border-radius: $border_radius $border_radius 0 0;
  overflow: hidden;

  .background {
    object-fit: cover;
    width: 100%;
  }

  .title {
    position: absolute;
    bottom: $gap_default;
    right: $gap_default;
    text-shadow: 2px 2px 0 $background,
      -2px -2px 0 $background,
      2px -2px 0 $background,
      -2px 2px 0 $background,
      -2px 0 0 $background,
      2px 0 0 $background,
      0 -2px 0 $background,
      0 2px 0 $background;
  }
}

.stats {
  margin-bottom: $gap_small;
  color: $highlight;

  display: flex;
  flex-direction: column;
  gap: $gap_default;

  .row {
    display: flex;
    justify-content: space-between;
    gap: $gap_default;

    .validXp {
      opacity: 1;

    }

    .invalidXP {
      opacity: .5;
      text-decoration: line-through;
      color: $alert;
    }
  }
}


.cta {
  margin-top: $gap_default;
  position: sticky;
  bottom: $gap_default;
  display: flex;
  justify-content: flex-end;
}