@import "../../../styles/variables";

.banner {
  margin-top: $default_gap;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  overflow: hidden;

  .background {
    object-fit: cover;
    width: 100%;
  }

  .title {
    position: absolute;
    bottom: $default_gap;
    right: $default_gap;
    text-shadow: 2px 2px 0 $background,
      -2px -2px 0 $background,
      2px -2px 0 $background,
      -2px 2px 0 $background,
      -2px 0 0 $background,
      2px 0 0 $background,
      0 -2px 0 $background,
      0 2px 0 $background;
  }
}

.stats {
  margin-bottom: $reduced_gap;
  color: $highlight;

  display: flex;
  flex-direction: column;
  gap: $default_gap;

  .row {
    display: flex;
    justify-content: space-between;
    gap: $default_gap;

    .validXp {
      opacity: 1;

    }

    .invalidXP {
      opacity: .5;
      text-decoration: line-through;
      color: $alert;
    }
  }
}


.cta {
  margin-top: $default_gap;
  position: sticky;
  bottom: $default_gap;
  display: flex;
  justify-content: flex-end;
}