@import "../../styles/variables";

.button {
  background-color: $highlight ;
  border: none;
  outline: none;
  padding: $gap_small $gap_big;
  color: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 1000px;
  cursor: pointer;

  &.small {
    font-size: 1rem;
    padding: $gap_small $gap_default;
  }

  &:disabled {
    opacity: .5;
  }

  &.alert {
    background-color: $alert;
    color: $background;
  }
}