@import "../styles/variables";

@font-face {
  font-family: "Unica One";
  src: url("../../public/fonts/UnicaOne-Regular.ttf");
}

@font-face {
  font-family: "Karla";
  src: url("../../public/fonts/Karla-VariableFont_wght.ttf")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  font-family: "Karla";
}

html {
  width: 100vw;
  max-height: 100vw;
  overflow: hidden;
  min-height: 100dvh;
  color: $extra;
}

body {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  background-color: $background;
}

main {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: $main;

  &::-webkit-scrollbar {
    display: none;
  }

}

section {
  margin-bottom: $gap_big;
}

section {
  &.wholeW {
    margin: 0 calc(0px - $gap_big) $gap_big calc(0px - $gap_big);
  }
}

@keyframes show {
  from {
    opacity: 1;
  }

  to {
    opacity: 1;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Unica One";
}

h1 {
  font-size: 2em;
  margin-bottom: $gap_default;
  text-shadow: $text_shadow_all;
}

h2 {
  font-size: 1.5em;
  margin-bottom: $gap_default;
}

h3 {
  font-size: 1em;
  color: $highlight;
  margin: 0;
}

span,
p {
  color: $highlight;
}

p {
  margin-bottom: $gap_default;
}

a {
  text-decoration: none;
  color: $link;
  cursor: pointer;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: $gap_big;
  padding-top: 0;

}

img {
  max-width: 100%;
}

input,
select,
textarea {
  font-size: 1rem;
  font-family: inherit;
}

input,
select {
  width: fit-content;
}