@import "../styles/variables";


.card {
  padding: $gap_default;

  width: 100%;
  aspect-ratio: 2 / 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "img ."
    "img ."
    "img ."
    "img .";
  gap: $gap_default;


  border-radius: $border_radius;
  color: $extra;
  background-color: $background;

  box-shadow: 3px 3px 0 0 $link;

  view-timeline-name: --card;
  view-timeline-axis: block;

  animation-timeline: --card;
  animation-name: show;
  animation-range: entry 0% cover 35%;
  animation-fill-mode: both;

  &.full {
    background-color: color-mix(in srgb, $background 60%, $alert);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: img;
    border-radius: $border_radius;
  }
}

@keyframes show {
  from {
    opacity: 0.5;
    scale: 50%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}