@import "../styles/variables";

.list {
  width: 100%;
  display: grid;
  padding: 0 $gap_small;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: $gap_default;
  margin-top: $gap_default;
}