@import "../styles/variables";

.carrousel {
  width: 100%;
  aspect-ratio: 2 / 1;

  padding: $gap_default;

  background-color: rgba($background, .75);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-y: hidden;
  overflow-x: scroll;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}