@import "../styles/variables";

.filters {
  display: flex;
  gap: $gap_default;
  flex-wrap: wrap;
  align-content: flex-end;
  max-height: calc(calc(2 * $gap_small) + 2ch);
  overflow: hidden;
  transition: max-height .3s;

  &.showFilters {
    max-height: 15rem;
  }
}