@import "../styles/variables";

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .back {
    position: absolute;
    top: $gap_default;
    left: $gap_default;
  }

  .background {
    object-fit: cover;
    width: 100%;
  }

  .title {
    position: absolute;
    bottom: $gap_default;
    right: $gap_default;
    text-shadow: $text_shadow_all;
  }

  .editBtn {
    position: absolute;
    top: $gap_default;
    right: $gap_default;

  }
}

.stats {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: $gap_default;

  >div {
    width: 100%;
  }

  .row {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: $gap_default;

    .validXp {
      opacity: 1;

    }

    .invalidXP {
      opacity: .5;
      text-decoration: line-through;
      color: $alert;
    }
  }
}

.cta {
  position: fixed;
  bottom: $gap_big;
  right: $gap_big;
}

@media (min-width: $mobile) {
  .banner {
    max-height: 400px;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    >div {
      border-left: 1px solid $extra;
      padding-left: $gap_default;
    }
  }

  .row {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}