@import "../styles/variables";

.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .back {
    position: absolute;
    top: $gap_default;
    left: $gap_default;
  }

  .background {
    object-fit: cover;
    width: 100%;
  }

  .title {
    position: absolute;
    bottom: $gap_default;
    right: $gap_default;
    text-shadow: $text_shadow_all;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: $gap_default;

  .row {
    display: flex;
    justify-content: space-between;
    gap: $gap_default;

    .validXp {
      opacity: 1;

    }

    .invalidXP {
      opacity: .5;
      text-decoration: line-through;
      color: $alert;
    }
  }
}


.cta {
  position: fixed;
  bottom: $gap_big;
  right: $gap_big;
}

@media (min-width: $mobile) {
  .banner {
    max-height: 400px;
  }

  .stats {
    width: 100%;
    flex-direction: row;
    gap: 5%;

    >div {
      width: fit-content;
      flex-shrink: 0;
    }

    .row {
      flex-direction: column;
    }
  }
}